body {
  color:maroon;
  background-color:aqua;
  background-image: url("http://bulldogs.video/texture.jpg");
}

.infobox {
  width:350px;
  height:300x;
  padding:10px;
  margin-top:10px;  
  margin-bottom:10px;
  margin-right:auto;
  margin-left:auto;
  
}


a:hover {
color: red;
text-decoration: none; 
}

a:visited {
color:green;
}

a:active {
color: orange;
}

a:link {
color:blue;
}

<!--this is costamization for links and this is also
a comment tag that you can only see in code-->































